#Name {
    display: inline;
    left: 5px;
    margin-top: 30px;
    font-size: 45px;
    color: white;
    
}
nav {
    position: absolute;
    width: 100%;
    background-color: grey;
   
}
.links {
    float: right;
    margin-top: 20px;
    color: white;
    font-size: 25px;
    
}
body {
    margin-top: 0;
    background-color: grey;
}
.links a {
    color: white;
    text-decoration: underline;
    padding: 0px 4px;
}
#pic1 {
    width: 100%;
    
}
.headers {
    color: white;
    margin-left: 8px;
   
}
.footer-links a {
    color: white;
    text-decoration: underline;
    margin-bottom: 0px;
}
.paragraphs {
    color: white;
    padding: 10px;
}
.footer-links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0px;
}
#pic2 {
  width: 200px;
  height: 200px; 
  margin-left: 10px;
}
a {
    display: inline-block
}
.longBox {
    flex-shrink: 2;
    width: 95%;
    height: 350px;
    background-color: black;
    border: solid;
    border-color: black;
    margin: 0 20px;
    background-image: url(./assets/dogs_in_rest.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.shortBox{
    flex-shrink: 1;
    background-color: black;
    width: 46%;
    height: 250px;
    border: solid;
    border-color: black;
    margin: 20px 20px;
} 
    
.a-tag-headers1 {
display: center;
color: white;
margin-right: 40px; 
}

.a-tag-headers2 {
    font-size: 70px;
    text-align: center;
    color: white;
    margin-left: 30px;
}

#box-section {
    margin: auto;
}

@media screen and (max-width: 768px) {
    #box-section {flex-shrink: 1;
    }
}

@media screen and (max-width: 992px) {
    .shortBox {
      width: 47%;
    }
}

